#section-home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  position: relative;
}

.text-zone h1 {
  font-size: 3.2rem;
  line-height: 50px;
  letter-spacing: -3pxpx;
  margin: 0;
  position: relative;
}

.text-zone h1::before {
  content: "<h1>";
  position: absolute;
  top: -80px;
  left: -10px;
  font-size: 1.2rem;
  opacity: 0;
  font-family: "La Belle Aurore", cursive;
  color: #539cd4;
  letter-spacing: 3px;
  animation: fadeIn 1s 4s forwards;
}

.text-zone h1::after {
  content: "</h1>";
  position: absolute;
  bottom: -38px;
  right: -70px;
  font-size: 1.2rem;
  opacity: 0;
  font-family: "La Belle Aurore", cursive;
  color: #539cd4;
  letter-spacing: 3px;
  animation: fadeIn 1s 4s forwards;
}

.text-zone img {
  //   width: 35px;
  //   height: 40px;
  height: 3.2rem;
  width: 3.2rem;
  animation: rotateIn 1s linear both;
  animation-delay: 1.4s;
}

#section-home .text-zone p {
  margin-top: 30px;
  color: #a2a2a3;
  letter-spacing: 4px;
  font-size: 18px;
  position: relative;
  opacity: 0;
  animation: fadeIn 1s 4.1s forwards;
}

#section-home .text-zone p::before {
  content: "<p>";
  position: absolute;
  top: -25px;
  left: -15px;
  font-size: 1.2rem;
  opacity: 0;
  font-family: "La Belle Aurore", cursive;
  color: #539cd4;
  letter-spacing: 3px;
  animation: fadeIn 1s 4s forwards;
}
#section-home .text-zone p::after {
  content: "</p>";
  position: absolute;
  bottom: -25px;
  left: -15px;
  font-size: 14px;
  opacity: 0;
  font-family: "La Belle Aurore", cursive;
  color: #539cd4;
  letter-spacing: 3px;
  animation: fadeIn 1s 4s forwards;
}

.scroll-down {
  position: absolute;
  right: -20px;
  bottom: 7.5rem;
  display: flex;
  //   flex-direction: column;
  align-items: center;
  transform: rotate(90deg);
  justify-content: center;
  //   display: block;
  font-size: 14px;
  color: #fff;
}

.scroll-down-left {
  left: -23px;
  right: auto;
}

.scroll-down span {
  display: inline-block;
  animation: scroll 0.5s linear infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(7px);
  }
}

.scroll-down .fas {
  transform: rotate(270deg);
  margin-left: 10px;
}

#section-work {
  padding: 5rem 0 5rem 1.5rem;
  position: relative;
}

#header {
  font-size: 2rem;
  color: #08fdd8;
  margin-bottom: 30px;
}

.text-zone-2 p {
  position: relative;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.fake-big-2 {
  font-size: 12rem;
  font-weight: 700;
  position: absolute;
  color: #2d2d2e;
  left: 10px;
  bottom: -70px;
  letter-spacing: -10px;
  z-index: -999;
}

.fake-magicwall {
  background-color: rgba(255, 255, 255, 0.1);
}

.fake-magicwall ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.fake-magicwall ul li {
  width: 20%;
  height: 160px;
  position: relative;
  overflow: hidden;
}

.fake-magicwall .magic_wall_item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s -webkit-transform 0.5s;
}

.fake-magicwall img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section-about {
  padding-left: 1.5rem;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.text-zone3 p {
  margin-bottom: 15px;
  line-height: 1.5rem;
}

.tech {
  text-decoration: none;
  color: #08fdd8;
}

@media screen and (max-width: 480px) {
  .fake-magicwall ul li {
    width: 50%;
  }

  .text-zone img {
    height: 1.8rem;
    width: 1.8rem;
  }

  .text-zone h1 {
    font-size: 1.8rem;
    line-height: 35px;
  }

  .text-zone h1::before {
    top: -32px;
    left: -11px;
    font-size: 0.8rem;
  }
  .text-zone h1::after {
    bottom: -25px;
    right: -21px;
    font-size: 0.8rem;
  }

  #section-home .text-zone p {
    letter-spacing: 2px;
    font-size: 12px;
  }
}
@media screen and (min-width: 1080px) {
  // #section-home {
  //   padding-left: 13rem;
  // }
  .text-zone h1 {
    font-size: 6.3rem;
    line-height: 5.9rem;
    letter-spacing: -5px;
  }
  .text-zone img {
    // width: 50px;
    // height: 92px;
    width: 72px;
    height: 80px;
  }
  .text-zone .gray-text {
    letter-spacing: 2px;
    font-size: 16px;
  }

  // #section-home .text-zone p::after {
  //   font-size: 14px;
  // }
  .scroll-down-left {
    // left: 8%;
    left: -23px;
    right: auto;
  }

  #section-work {
    width: 85%;
    margin: 0 30px 0 auto;
    display: flex;
    flex-direction: column;
  }

  .text-zone-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #header {
    font-size: 2.5rem;
  }

  .text-zone-2 p {
    width: 700px;
    font-size: 14px;
    line-height: 1.5rem;
  }

  .fake-big-2 {
    // position: absolute;
    font-size: 25rem;
    font-weight: 700;
    left: 560px;
    top: 0;
  }

  .fake-magicwall {
    padding-left: 8.5rem;
  }

  .fake-magicwall ul li {
    width: 20%;
    height: 236px;
  }

  #section-about {
    flex-direction: row;
    padding-left: 13rem;
  }

  .text-zone3 #header {
    width: 500px;
    font-size: 3rem;
  }

  .text-zone3 p {
    width: 400px;
  }

  .skills-chart {
    margin-right: 20%;
  }

  //   .fake-magicwall ul li {
  //     width: 33%;
  //   }
}
